
Para criar um controlador de entrada NGINX básico como DaemonSet utilizaremos o Helm,
para a instalação do helm com os arquivos e o tutorial acesse https://helm.sh/ 

(Tambem disponível na lib do choco e homebrew para Windows)


Com helm instalado basta rodar os comando abaixo em uma maquina com acesso ao cluster.


Linux (bash)

NAMESPACE=ingress-basic

helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
helm repo update

helm install ingress-nginx ingress-nginx/ingress-nginx \
  --create-namespace \
  --namespace $NAMESPACE \
  --set controller.service.annotations."service\.beta\.kubernetes\.io/azure-load-balancer-health-probe-request-path"=/healthz
  --set controller.kind DaemonSet


Windows (PowerShell)


$Namespace = 'ingress-basic'

helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
helm repo update

helm install ingress-nginx ingress-nginx/ingress-nginx `
  --create-namespace `
  --namespace $Namespace `
  --set controller.kind DaemonSet
